<%# Language Selector %>


<%# Form %>
<div class="m-10-per">
  <%= form_with(model: contact, local: true) do |form| %>
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
          <% contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= form.label t('form.field_labels.first_name') %>
      <%= form.text_field :first_name, placeholder: t('form.field_placeholders.first_name') %>
      <span class="required">*</span>
    </div>

    <div class="field">
      <%= form.label t('form.field_labels.last_name') %>
      <%= form.text_field :last_name, placeholder: t('form.field_placeholders.last_name') %>
      <span class="required" >*</span>
    </div>

    <div class="field">
      <%= form.label t('form.field_labels.email') %>
      <%= form.text_field :email, placeholder: t('form.field_placeholders.email') %>
      <span class="required">*</span>
    </div>

    <div class="field">
      <%= form.label t('form.field_labels.phone') %>
      <%= form.text_field :phone, placeholder: t('form.field_placeholders.phone') %>
    </div>

    <div class="field">
      <%= form.label t('form.field_labels.message') %>
      <%= form.text_area :message, cols: 30, rows: 10, placeholder: t('form.field_placeholders.message')  %>
      <span class="required">*</span>
    </div>

    <div class="actions">
      <%= form.submit t('form.submit') %>
    </div>
  <% end %>
</div>
