<%# Language Selector %>
<%= form_tag contacts_path, method: 'GET' do%>
  <%= select_tag 'locale', options_for_select(@languages.collect{ |u| [u, u] }, I18n.locale), onchange: 'this.form.submit();' %>
<%end%>


<%# Form %>
<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label t :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label t :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label t :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label t :message %>
    <%= form.text_field :message %>
  </div>

  <div class="actions">
    <%= form.submit "Create" %>
  </div>
<% end %>
