<div class="pull-right">
  <%= select_tag 'locale',
    options_for_select(@supported_languages.collect{ |u| [u, u] }, I18n.locale),
    class: "language_selector"
  %>
</div>

<h1> <%= t('form.header') %></h1>

<h5 style="color: green;"><%= notice %></h5>

<%= render 'form', contact: @contact %>

<%= link_to  t('form.back'), contacts_path %>

