<div class="pull-right">
  <%= form_tag contacts_path, method: 'GET' do%>
    <%= select_tag 'locale', options_for_select(@supported_languages.collect{ |u| [u, u] }, I18n.locale), onchange: 'this.form.submit();', style: "width: 50px; height: 50px; text-align: center" %>
  <%end%>
</div>

<h1> <%= t('form.header') %></h1>

<h5 style="color: green;"><%= notice %></h5>

<%= render 'form', contact: @contact %>

<%= link_to  t('form.back'), contacts_path %>

