<div id="language_selector" class="pull-right">
  <% @supported_languages.each do |code|%>
    <%= link_to code, "/contacts?locale=#{code}", class: code == I18n.locale ? 'active': '' %> |
  <%end%>
</div>

<h1> <%= t('form.header') %></h1>

<h5 style="color: green;"><%= notice %></h5>

<%= render 'form', contact: @contact %>

<%= link_to  t('form.back'), contacts_path %>

