


<div>
    <ul>
    <li>  First Name : <%= @contact.first_name %> </li>
    <li>  Last Name : <%= @contact.first_name %> </li>
    <li>  Email : <%= @contact.email %> </li>
    <li>  Phone : <%= @contact.phone %> </li>
    <li>  Message : <%= @contact.message %> </li>
    </ul>
</div> 